body
{
    font-size: 1.5em;
    background-color: #454545 ;
    color: white;
}
h1
{
    color: rgb(255,128,128);
}
h2
{
    color: powderblue;
}
table
{
    border-collapse: collapse;
}
td
{
    border: 2px solid black;
}
.specialites
{
    color: aqua;
}
.info
{
    color: salmon;
}