body
{
    font-size: 1.5em;
    background-color: darkgrey ;
    color: white;
}
h1
{
    color: lightskyblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    color: lightskyblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table
{
    border-collapse: collapse;
}
td
{
    border: 2px solid white;
}
.specialites
{
    color: purple;
}
h3
{
    color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4
{
    color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
